* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    background: url('https://www.shutterstock.com/shutterstock/videos/1109295007/thumb/1.jpg?ip=x480') repeat-x; 
    animation: moveBackground 30s linear infinite;
    background-size: 200% 100%; 
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.app-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="number"],
select {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
